/*
* CSS for the FiLo app view layout and all its children
*/

*
{
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

html, body
{
  height: 100vh;
  margin: 0;
}

body
{
  background-image: url("../images/find_the_lost.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input, a, button
{
  color: black !important;
}

nav
{
  color: white !important;
  background-color: rgba(30,30,30,0.95) !important;
}

#black
{
  color: black !important;
}

#white
{
  color: white !important;
}

.dropdown-menu > a:hover
{
    background-color: black;
    background-image: none;
}

.card
{
  background-color: rgba(30,30,30,0.95) !important;
}

.dropdown-menu
{
  color: white !important;
  background-color: rgba(30,30,30,0.95) !important;
}
